.puller {
  width: 30px;
  height: 6px;
  background-color: gray;
  border-radius: 3px;
  position: absolute;
  top: 8px;
  left: calc(50% - 15px);
}

.avalableInfo {
  display: flex;
  padding-top: 2px;
  gap: 4px;

  div {
    display: flex;
  }
}
