.puller {
  width: 30px;
  height: 6px;
  background-color: #49454F;
  border-radius: 3px;
  position: absolute;
  top: 8px;
  left: calc(50% - 15px);
}

.placeInfoWrap {
  background-color: #F3EDF7;
  min-height: 30vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.placeInfo {
  display: flex;
  justify-content: space-around;
  padding-top: 2px;
  gap: 4px;
  width: 100%;

  div {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
  }

  .infoLabel {
    color: gray;
    font-size: 12px;
  }

  .availabilityInfoItem {
    display: flex;
    flex-direction: row;
    font-weight: 800;
  }
}

.drawerCard {
  background-color: #FEF7FF;
  padding: 1rem;
  border-radius: 1rem !important;
}

.tariffs{
  background-color: #E6E0E9;
  border-radius: 1rem;
  padding: 1rem;
}

.tariffItem {
  display: flex;
  justify-content: space-between;
}
