.app-container {
    height: 100%;
}

.ui-container {
    position: relative;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    z-index: 20;
    height: -webkit-fill-available;
    padding: 20px;
    pointer-events: none;
    justify-content: space-between;
}

.charge-button{
    pointer-events: auto;
    background: white;
    color: black;
}
